<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_betpump.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,80}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{449,645},{110,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_enterbox_s1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{561,645},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_enterbox_s2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,28}</string>
                <key>spriteSourceSize</key>
                <string>{40,28}</string>
                <key>textureRect</key>
                <string>{{613,645},{40,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_operating.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,220}</string>
                <key>spriteSourceSize</key>
                <string>{720,220}</string>
                <key>textureRect</key>
                <string>{{723,1},{720,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,76}</string>
                <key>spriteSourceSize</key>
                <string>{222,76}</string>
                <key>textureRect</key>
                <string>{{1,645},{222,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_player2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,76}</string>
                <key>spriteSourceSize</key>
                <string>{222,76}</string>
                <key>textureRect</key>
                <string>{{225,645},{222,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,320}</string>
                <key>spriteSourceSize</key>
                <string>{720,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_table_BGF.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,320}</string>
                <key>spriteSourceSize</key>
                <string>{720,320}</string>
                <key>textureRect</key>
                <string>{{1,323},{720,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_tex.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,23}</string>
                <key>spriteSourceSize</key>
                <string>{720,23}</string>
                <key>textureRect</key>
                <string>{{983,1},{720,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_timebar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,36}</string>
                <key>spriteSourceSize</key>
                <string>{720,36}</string>
                <key>textureRect</key>
                <string>{{945,1},{720,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>niu_frame.png</string>
            <key>size</key>
            <string>{1007,726}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87aed44451eecffdccafec734b73cfce:daee43b753d1089b281d75d2de71a7e5:5081dcebb4625a318335abb898c7b268$</string>
            <key>textureFileName</key>
            <string>niu_frame.png</string>
        </dict>
    </dict>
</plist>
